h1
{
	text-align: center;
}

.container-admin
{

	width: 90%;
	margin: 30px auto;

}

.input-admin
{
	margin: 0px auto;
	text-align: center;
}

.responses ul
{
	margin-top: 20px;
	list-style: none;
	text-align: center;
}
