.wrapper
{
	width: 90%;
	margin: 0px auto;
	border: 1px solid black;
	margin-top: 50px;
}

a
{
	text-decoration: none;
}

#indexPage
{
	list-style: none;
	border: 1px solid red;
	text-align: center;
	display: grid;
	grid-template-columns: 20% 20% 20% 20% 20%;
	padding : 0px;

}

#indexPage li
{
}

.poster
{
	/*height: 27vw;*/
	width: 100%;
}


.card
{
	/*width: 18rem;*/
}

.btn
{
	width: 100%;
}

@media only screen and (max-width: 850px)
{
	#indexPage
	{
		grid-template-columns: 33.3% 33.3% 33.3%;

	}
}

@media only screen and (max-width: 550px)
{
	#indexPage
	{
		grid-template-columns: 50% 50%;

	}
}

@media only screen and (max-width: 450px)
{
	#indexPage
	{
		grid-template-columns: 100%;

	}
}




/*
@media only screen and (max-width: 1050px)
{
	.card
	{
		width: 30%;
	}
}

@media only screen and (max-width: 800px)
{
	.card
	{
		width: 90%;
	}
}
*/