.user-container
{
	width: 90%;
	border: 1px solid black;
	margin: 50px auto;
	text-align: center;
	padding-top: 30px;
}

.user-container h4
{
	padding-bottom: 20px;
}

.user-container .inner-container
{
	border: 1px solid red;
	margin: 0px auto;
}

.user-list
{
	list-style: none;
	padding : 0px;
	display: grid;
	grid-template-columns: 20% 20% 20% 20% 20%;
}

.user-list li
{
	/* Her bir elemanın boyutu*/
}

.user-list li .card a img
{
	width: 100%;

}

@media only screen and (max-width: 850px)
{
	.user-list
	{
		grid-template-columns: 33.3% 33.3% 33.3%;

	}
}

@media only screen and (max-width: 550px)
{
	.user-list
	{
		grid-template-columns: 50% 50%;

	}
}

@media only screen and (max-width: 450px)
{
	.user-list
	{
		grid-template-columns: 100%;

	}
}

