/*
#v-pills-tab a
{
	width: 100%;
}
*/

.wrapper
{
	display: grid;
	grid-template-columns: 20% 80%;
	border: 1px solid green;
	width: 70%;
	margin: 30px auto;
	padding : 10px;
	border-radius: 10px;
}

.card
{
	width: 100%;
}


#seasons
{
	border: 1px solid black;
	margin: 0px auto;
	width: 100%;
	padding : 10px;
}

#nav-tab a
{
	margin : 0px auto;
}

table
{
	border : 1px solid red;
	width: 100%;
	margin : 0px auto;
}

table tbody tr td
{
	padding : 5px 10px;
}

input[type="checkbox"]{
  width: 30px; /*Desired width*/
  height: 30px; /*Desired height*/
}

thead tr
{
	margin : 30px;
}

thead tr td
{
	border: 1px solid cyan;
	padding : 10px;
}

.btn
{
	width: 100%;
}

@media only screen and (max-width: 1024px)
{
	.wrapper
	{
		grid-template-columns: 100%;
		width: 100%;
	}

}
