<h1>Add Tv Series with IMDB Api</h1>

<div class="container-admin">
	<div class="input-admin">
		<input type="text" name="" id="seriesname">
		<button id="btn">Send</button>
	</div>
	<div class="responses">
		<ul>
			
		</ul>
	</div>
</div>




<script type="text/javascript" src="./script/add.js"></script>
