<div class="login-container">
	
	<h3>Sign In</h3>

	<div class="login-form">
		<form method="POST" action="/login">
			<input type="text" name="username" id="username" placeholder="Username" required>
			<input type="password" name="password" id="password" placeholder="password" required>
			<input type="submit" name="" value="Login">

		</form>
	</div>

</div>
