
<h1 style="text-align: center; margin-top: 20px; font-size: 2em">Results</h1>
<div class="results">

{{#each data}}
	
	
	
		<div class="card">
			<a href="/series/{{this.id}}">
				<img class="card-img-top poster" src="{{this.poster}}" alt="Card image cap">
			</a> 	
		  <div class="card-body">
		    <h5 class="card-title">{{this.name}}</h5>
		    <a href="#" class="btn btn-warning mt-1">Add to Favourites</a>
		  </div>
		</div>

	

	

{{/each}}

	<div class="clear"></div>

</div>
