<div class="signin-container">
	
	<h3>Sign In</h3>

	<div class="signin-form">
		<form method="POST" action="/signin">
			<input type="text" name="username" id="username" placeholder="Username" required>
			<input type="password" name="password" id="password" placeholder="password" required>
			<input type="submit" name="" value="Sign In">

		</form>
	</div>

</div>
